<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task</title>
    <style type="text/css">
        body {
            width: 80%;
        }
        h1 {
            text-align: center;
        }
        #task{
            text-align: center;
            display: table;
        }
    </style>
</head>
<body>
    <h1>Task</h1>
    <div id="task">
        <!-- Put div of tasks here after fetching from database -->
    </div>
    
    <script>
        // load from data base here
    </script>
</body>
</html>